<template>
    <div>
        <nav-bar></nav-bar>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
        <pre>
        </pre>
    </div>
</template>

<script>
    export default {
        data () {
            return {}
        }
    }
</script>

<style>
    .fade-active-enter, .fade-leave-active {
        transition: opacity .5s ease;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0;
    }

    body {
        min-height: 2000px;
        padding-top: 50px;
    }
</style>
