<template>
    <div>
        <h1>User information</h1>
        <div>
            <p>{{user}}</p>
        </div>
        <h1>Users list</h1>
        <div>
            <p>{{userList}}</p>
            <p>Страница {{page}}</p>
            <ul class="pagination">
                <li><a href="#" @click="doPrevPage">Предыдущая</a></li>
                <li><a href="#" @click="doNextPage">Следующая</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {store} from '../store/store.js';
    var lastError = '';
    var lastPair = {};
    var pageNum = 1;

    /**
     * Returns an user
     * @param pair
     * @returns {{}}
     */
    function getUser(pair) {
        var p = (typeof pair === 'undefined' || pair === null) ? {token: '', id: 0} : pair;
        var result = {};
        $.ajax({
            url: '//localhost:8999/user',
            type: 'GET',
            beforeSend: function (request) {
                request.setRequestHeader("User-Token", p.token);
            },
            data: 'id=' + p.id,
            async: false,
            error: function (data) {
                var resp = JSON.parse(data.responseText);
                lastError = resp.code + ' ' + resp.error;
                //alert('getUser: FAIL. Code: ' + resp.code + ', msg: ' + resp.error);
            },
            success: function (data) {
                lastError = '';
                result = data;
                //alert('success');
            }
        });
        return result;
    }

    /**
     * Returns array of users
     * @param pair
     * @param page
     * @returns {{}}
     */
    function getUserList(pair, page) {
        var p = (typeof pair === 'undefined' || pair === null) ? {token: '', id: 0} : pair;
        var result = {};
        var elementsOnPage = 20;
        $.ajax({
            url: '//localhost:8999/users',
            type: 'GET',
            beforeSend: function (request) {
                request.setRequestHeader("User-Token", p.token);
            },
            data: 'from=' + ((page - 1) * elementsOnPage + 1) + '&to=' + page * elementsOnPage,
            async: false,
            error: function (data) {
                var resp = JSON.parse(data.responseText);
                lastError = resp.code + ' ' + resp.error;
                //alert('getUserList: FAIL. Code: ' + resp.code + ', msg: ' + resp.error);
            },
            success: function (data) {
                lastError = '';
                result = data;
                //alert('success');
            }
        });
        return result;
    }

    export default {
        data() {
            lastPair = store.state.loginPair;
            pageNum = store.state.page;

            //alert(JSON.stringify(lastPair));
            var u = getUser(lastPair);
            var uList = getUserList(lastPair, pageNum);
            return {
                user: u,
                userList: uList,
                page: pageNum
            }

        },
        methods: {
            doNextPage(message, event) {
                store.commit('incPage');
                pageNum = store.state.page;
                this.page = pageNum;
                this.userList = getUserList(lastPair, pageNum);
            },
            doPrevPage(message, event) {
                store.commit('decPage');
                pageNum = store.state.page;
                this.page = pageNum;
                this.userList = getUserList(lastPair, pageNum);
            },
        }
    }

</script>