<template>
    <div class="jumbotron">
        <form class="form-signin" role="form">
            <input type="login" v-model="loginData.email" class="form-control" placeholder="Введите почту" required
                   autofocus>
            <input type="password" v-model="loginData.password" class="form-control" placeholder="Пароль" required>
            <label class="checkbox"></label>
            <button class="btn btn-lg btn-primary btn-block" @click.prevent="doLogin" type="submit">Вход</button>
            <p>Authorized: {{user.authorized}}, Role: {{user.role}}</p>
            <p>{{err}}</p>
        </form>
    </div>
</template>

<script>
    import md5 from 'js-md5';
    import {store} from '../store/store.js';
    var lastError = '';
    function getToken(obj) {
        var passwordHash = md5(obj.loginData.password);
        var hashedLoginObject = {email: obj.loginData.email, password: passwordHash};
        var token = '';
        var id = 0;
        $.ajax({
            url: '//localhost:8999/login',
            type: 'POST',
            async: false,
            data: JSON.stringify(hashedLoginObject),
            dataType: 'json',
            error: function (data) {
                obj.authorized = false;

                store.commit('setPair', null);
                store.commit('setUser', null);
                var resp = JSON.parse(data.responseText);
                lastError = resp.code + ' ' + resp.error;
                //alert('login: FAIL. Code: ' + resp.code + ', msg: ' + resp.error);
            },
            success: function (data) {
                lastError = '';
                obj.authorized = true;
                token = data.token;
                id = data.id;
            }
        });
        //alert(JSON.stringify(xhr));
        return {id: id, token: token};
    }

    /**
     * Returns user role by token
     * @param tokenParam
     * @returns {string}
     */
    function getRole(tokenParam) {
        var token = (typeof tokenParam === 'undefined' || tokenParam === null) ? '' : tokenParam;
        var input = {token: token};
        var role = '';
        $.ajax({
            url: '//localhost:8999/token',
            type: 'POST',
            async: false,
            data: JSON.stringify(input),
            dataType: 'json',
            error: function (data) {
                store.commit('setUser', null);
                var resp = JSON.parse(data.responseText);
                lastError = resp.code + ' ' + resp.error;
                //alert('getRole: FAIL. Code: ' + resp.code + ', msg: ' + resp.error);
            },
            success: function (data) {
                lastError = '';
                role = data.role;
            }
        });
        return role;
    }

    /**
     * Returns default user
     * @returns {{authorized: boolean, role: string, token: string}}
     */
    function defaultUser() {
        return {
            authorized: false,
            id: 0,
            role: '',
            token: '',
        };
    }

    /**
     * returns updated user from local storage
     * @returns {{authorized: boolean, role: string, token: string}}
     */
    function updateUserData() {
        var user = store.state.user;
        if (typeof user !== 'undefined' && user !== null) {
            return user;
        }
        return defaultUser();
    }

    export default {
        data() {
            return {
                err: '',
                user: updateUserData(),
                loginData: {
                    email: this.email,
                    password: this.password,
                }
            }
        },
        methods: {
            doLogin(message, event) {
                store.commit('setUser', null);
                var user = defaultUser();
                var pair = getToken(this);
                user.token = pair.token;
                user.id = pair.id;
                user.role = getRole(user.token);
                this.err = '';

                if (user.role !== '') { // авторизация прошла
                    user.authorized = true;
                    store.commit('setUser', user);
                    this.user = updateUserData();
                    this.$router.push('/home');
                } else {
                    this.err = 'Ошибка авторизации. ' + lastError;
                }

                store.commit('setPair', pair);

                //alert(JSON.stringify(pair));
                // if (event) event.preventDefault();
            },
        }
    }

</script>

<style>
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .jumbotron {
        background-color: #DCDCDC;
    }
</style>