<template>
    <ul class="nav navbar-nav navbar-right">
        <li v-if="user.authorized===true">
            <router-link to="/home">О компании</router-link>
        </li>
        <li v-if="user.authorized===true">
            <router-link to="/home">Контакты</router-link>
        </li>

        <li v-if="user.authorized===true">
            <a href="" @click.prevent="doLogout">Выход({{user.role}})</a>
        </li>
        <li v-else>
            <router-link to="/">Вход</router-link>
        </li>
    </ul>
</template>

<script>
    import {store} from '../store/store.js';
    //alert(JSON.stringify(store.state));
    export default {
        computed: {
            user() {
                return this.$store.state.user;
            }
        },
        methods: {
            doLogout(message, event) {
                localStorage.clear();
                store.commit('clear');
                this.$router.push('/');
            }
        }
    }
</script>
