<template>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <router-link class="navbar-brand" to="/">ФинЗащита</router-link>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <main-menu></main-menu>
            </div>
        </div>
    </div>
</template>

<script>
    import MainMenu from './MainMenu.vue';
    export default {
        components: {
            'main-menu': MainMenu
        }
    }
</script>

<style>


</style>